.container {
  margin: auto;
  margin-top: 1.5rem;
  text-align: center;
  align-items: center;
  background: -webkit-linear-gradient(
    85deg,
    #116f32,
    #77d598
  ); /* Safari/Chrome */
  border-radius: 10px;
  box-shadow: 0 0 15px #0a0a0a;
  color: #222b26;
  padding: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 60%;
}

li {
  margin-top: 10px;
}

.enviar {
  margin-top: 20px;
  border-radius: 3px;
  padding: 5px;
  border: solid 1px black;
}

.enviar:hover {
  background: -webkit-linear-gradient(
    85deg,
    #052510,
    #1db954
  ); /* Safari/Chrome */
  border-radius: 10px;
  color: white;
}

.error {
  border: 1px solid rgb(126, 3, 3);
  border-radius: 10px;
  padding: 5px;
  color: rgb(126, 3, 3);
  font-weight: bold;
  box-shadow: 0 0 5px #0a0a0a;
}

input{
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
}
